iframe {
  height: 250px;
  width: 90%;
}

#pelicula__header {
  height: 60vh;
  background-position: top center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#pelicula__modal-background {
  background-color: rgba(20, 22, 26, 0.9);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#pelicula__modal {
  align-items: center;
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}

#pelicula__modal-background.active {
  display: block;
}

#pelicula__modal.active {
  display: flex;
}

.container {
  overflow-x: hidden;
}

.is-small {
  background: linear-gradient(
    180deg,
    rgba(20, 22, 26, 0) 0%,
    rgba(20, 22, 26, 1) 60%,
    rgba(20, 22, 26, 1) 100%
  );
  margin-top: -100px;
}

.peliculas__slider-item-header {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  height: 230px;
}

.peliculas__slider-item:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.slick-list {
  padding: 0 !important;
}

/** Colores **/
.text-rojo {
  color: rgb(220 38 38);
}

.bg-rojo {
  background-color: rgb(220 38 38);
  color: white;
  &:hover {
    background-color: rgba(220, 38, 38, 0.8);
  }
}

/** Utiles **/
.text-center {
  text-align: center;
}

/** Media Queries**/
@media (width > 768px) {
  iframe {
    height: 500px;
    width: 900px;
  }

  #pelicula {
    padding-left: 1.5rem;
  }

  #pelicula__header {
    height: 55vh;
  }

  .col-1 {
    width: 30%;
  }

  .col-2 {
    width: 70%;
  }

  .col-3 {
    padding-top: 50px;
  }

  .is-small {
    background: none;
    margin-top: 0;
  }

  .peliculas__navbar {
    width: 100%;
  }

  .peliculas__slider-item-header {
    height: 220px;
    width: 175px - 0.5 rem;
  }

  .row {
    display: flex;
  }

  .slick-track {
    padding: 20px 0;
  }
}
